body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    color: red;
}

figure {
    text-align: center;
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto;

}



